
html, body {
    height: 100%;
    margin: 0;
}

body {
    background: whitesmoke;
    margin: 0px;
}

header {
    width: 100%;
    height: 91px;
    background: #ffffff;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #dddddd;

}
h1 { 
    float: left;
    width: auto;
    height: 22px;
    background: #4aaaa5;
    color: #ffffff;
    margin: 0px;
    margin-left: 10.7638%;
    padding: 35px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
nav {
    height: 91px;
    float: left;
    margin-left: 320px;
    overflow-x: auto;
    text-align: center;

}
   
.navbar {
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #777777;
    text-decoration: none;
}


.wrapper {
    width: 960px;
    background: whitesmoke;
    margin-top:38px;
    margin-left: 10.7638%;
    min-height: 100%;
    margin-bottom: -102px;
}

.content {
    width: 588px;
    height: auto;
    float: left;
    padding: 30px;
    background: #ffffff;
    margin-right:20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}
h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.profile_img {
    width: 200px;
    height: 150px;
    float: left;
    margin-top: 30px;
    margin-right: 25px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 36px;
    color:  #777777;
    margin-top: 30px;
    font-weight: lighter;
}
.projects {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 16px; 
    margin-right: 16px;
}
.name {
    width: auto;
}

.sidebar {
    float: right;
    width: 208px;
    height: 128px;
    padding: 30px;
    padding-bottom: 40px;
    margin-left: 20px;
    background: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    
}
h3 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    margin-top:0px;
}

.hrs {
    margin-bottom: 22px;
}

.icons {
    width: 64px;
    height: 64px;
}

footer {
    width: 100%;
    height: 93px;
    border-top: 9px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    background: #666666;
    text-align: center;
}
.footer,
.push {
  height: 50px;
}

